.nav {
    box-shadow: var(--bs-down);
    color: var(--color-white);
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

.flex {
    align-items: stretch;
    background: var(--bg-black);
    display: flex;
    justify-content: space-between;
}

.logo,
.links {
    align-items: center;
    display: flex;
    justify-content: safe center;
}

.links {
    overflow-x: auto;
}

.logo {
    padding: 0 1rem;
}

.links a {
    padding: 1rem;
}

.links a:hover {
    background: var(--bg-purple);
}

.container {
    background: #cccccc;
    height: .4rem;
    width: 100%;
}

.bar {
    background: var(--bg-purple);
    height: 8px;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
}


@media screen and (max-width: 480px) {
    .links {
        display: none;
    }
}