:root {
  --retro-purple: #5f24a4;
  --retro-black: #080808;
  --retro-white: #ffffff;

  --bs-shadow: rgba(0, 0, 0, 0.4);
  --bs-down: 0px 4px 8px 0px var(--bs-shadow);
  --bs-top: 0px -4px 8px 0px var(--bs-shadow);
  --bs-left: -4px 0px 8px 0px var(--bs-shadow);
  --bs-right: 4px 0px 8px 0px var(--bs-shadow);

  --color-black: var(--retro-black);
  --color-white: var(--retro-white);
  --color-purple: var(--retro-purple);

  --bg-black: var(--retro-black);
  --bg-white: var(--retro-white);
  --bg-purple: var(--retro-purple);

  --font: Montserrat, arial, helvetica, sans-serif;
  --transition: color 100ms ease-in-out, background 100ms ease-in-out;
}

::-moz-selection,
::selection,
::target-text {
  background: var(--bg-purple);
  color: var(--color-white);
}

::-webkit-scrollbar-track {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: var(--bg-black);
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

::-webkit-scrollbar {
  /* height: 1vh; */
  width: 10px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
nav,
footer,
main,
section,
div,
span {
  scrollbar-color: var(--bg-purple) var(--bg-black);
  scrollbar-width: thin;
}

*,
html {
  margin: 0;
  padding: 0;
  transition: var(--transition);
}

body {
  animation: init 1000ms ease-in-out;
  caret-color: var(--color-purple);
  color: var(--color-white);
  font-family: var(--font);
  font-size: 16px;
  line-height: 1.6rem;
  scroll-behavior: smooth;
}

@keyframes init {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}